$white: #fff;
$offWhite: #f9f9f9;

$darkerBlue: rgb(0, 14, 19);
$darkBlue: #00171F;
$blue: #003459;
$midBlue: #007EA7;
$lightBlue: #00A8E8;

$tablet:767px;
$desktop:1199px;

@mixin transition($time) {
	transition:$time ease all;
	-webkit-transition:$time ease all;
	-moz-transition:$time ease all;
	-ms-transition:$time ease all;
	-o-transition:$time ease all;
}

* {
	@include transition(0.2s);
}

@font-face {
	font-family: 'Bebas';
	src: url('../assets/fonts/bebasneue_regular-webfont.woff2') format('woff2'),
	url('../assets/fonts/bebasneue_regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas';
	src: url('../assets/fonts/bebasneue_bold-webfont.woff2') format('woff2'),
	url('../assets/fonts/bebasneue_bold-webfont.woff') format('woff');
	font-style: normal;
	font-weight:bold;

}

body,html{
	font-family:Open Sans;
	font-weight:100;
	font-size: 16px;
	line-height: 1.5;
	background:$darkBlue;
	width:100%;
	overflow-x:hidden;
	margin:0;
}

.marginTop20{
	margin-top:20px;
}
.marginTop40{
	margin-top:40px;
}
.showcase{
	background:url('../assets/images/backDark.png') no-repeat;
	background-size: 100% auto;
}
.eventSearch{
	padding:40px 0;
	margin-top:60px;
	text-align: center;
	z-index: 100;
}
.search{
	width:100%;
	margin: auto;
	max-width: 800px;
	text-align: left;
	background:$darkerBlue;
	border-bottom: 1px solid rgba(0,0,0, 0.7);
	display: flex;
	flex-direction:row;
	align-items:center;
	input{
		-webkit-appearance:none;
		border:none;
		padding:0px 20px;
		outline: none;
		background:transparent;
		font-size:48px;
		flex:1 1 auto;
		font-weight:400;
		width:80%;
		color:$midBlue;
	}
	::-webkit-input-placeholder {
		color:$darkBlue;
	}
	::-moz-placeholder {
		color:$darkBlue;
	}
	.searchButton{
		padding:20px;
		color:$darkBlue;
		cursor: pointer;
	}
	input:focus + .searchButton{
		color:$blue;	
	}
	.searchButton:hover, input:focus + .searchButton:hover{
		color:$midBlue;
	}
	.searchButton.flip{
		margin-bottom: auto;
		-webkit-transform: rotate(45deg);
		color:$midBlue;
	}
	.searchButton.flip:hover{
		color:$lightBlue;
	}
	.createNew{
		padding:20px 0px 0px 0px;
		flex:1 1 auto;
		width:80%;

		::-webkit-input-placeholder {
			color:$blue;
		}
		::-moz-placeholder {
			color:$blue;
		}

		input{
			line-height: 1;
			margin: 0;
			font-size: 24px;
		}

		.eventSubmit{
			background:$lightBlue;
			color:$white;
			font-size:14px;
			text-transform:uppercase;
			letter-spacing: 0.05em;
			padding: 20px;
		    width: 106px;
		    margin-left: 20px;
		}

		label{
			color:#fff;
			text-transform: uppercase;
			font-size:12px;
			font-weight:300;
			margin: 0;
			padding-left: 22px;
			line-height:1;
		}

		.createField{
			margin-bottom: 20px;
			display:flex;
			flex-direction:column;
		}
	}
	.animate-show {
	  opacity: 1;
	}
	.ng-hide{
		opacity:0;
		@include transition(0.5s);
	}
}

.searchResult{
	width:100%;
	margin: auto;
	margin-top:10px;
	max-width: 800px;
	text-align: left;
	padding: 20px;
	color:$white;
	background:rgba(0,0,0,0.5);
	cursor:pointer;

	b{
		font-size:20px;
		font-weight: 400;
	}
	span{
		margin-right: 10px;
	}
	span:after{
		content:'';
		margin-left: 10px;
	}
	span.website{
		margin-left:10px;
		vertical-align: top;
	}
}

.title{
	color:#fff;
	margin-bottom:20px;

	h1{
		line-height:1;
		margin:0;
		padding:0;
		margin-bottom:10px;
	}
	span{
		margin-right: 10px;
	}
}

.searchResult:hover{
	background:$midBlue;
}

a.noDecoration{
	text-decoration: none;
	outline:none;
	color:inherit;
}