<div id="splash" class="showcase">
  <div class="container-fluid">
    <div class="container"> 
      <div class="eventSearch">
        <div class="title"">
            <h1>{{event.name}}</h1>
            <span>{{event.location}}</span>
            <span>{{event.date}}</span>
            <span>{{event.time}}</span>
          </div>
        <div class="search">
          <div class="createNew animate-show" ng-show="creating">
            <div class="createField">
              <label for="name">Name</label>
              <input required type="text" name="name" ng-model="name" placeholder="Name">
            </div>
            <div class="createField">
              <label for="location">Location</label>
              <input required type="text" name="location" ng-model="location" placeholder="Location">
            </div>
            <div class="createField">
              <label for="fburl">Website/Facebook URL</label>
              <input required type="text" name="fburl" ng-model="fburl" placeholder="Website/Facebook URL">
            </div>
            <div class="createField">
              <label for="categories">Categories</label>
              <input required type="text" name="categories" ng-model="categories" placeholder="Categories">
            </div>
            <div class="createField">
              <label>Map</label>
              <canvas id="c"></canvas>
            </div>
            <div class="createField">
              <input type="submit" value="Submit" ng-click="submitEvent()" class="eventSubmit">
              </button>
            </div>
          </div>
          <input type="text" ng-model="boothSearch" ng-hide="creating" placeholder="Search" />
          <a class="searchButton" ng-click="createNew()" ng-class="flip"><i class="fa fa-plus fa-2x"></i></a>
        </div>
        <div class="searchResult" ng-repeat="booth in booths | filter:boothSearch">
          <b>{{booth.boothName}}</b><br>
          <span>{{booth.location}}</span>
          <span>{{booth.categories}}</span>
        </div>
      </div>
    </div>
  </div>
</div>